RAILS_ENV=production
BACKEND_URL=https://your-real-domain.com
FRONTEND_URL=https://your-real-domain.com
APP_HOSTS=your-real-domain.com,www.your-real-domain.com
SECRET_KEY_BASE=change-me
HOMOSTAY_APP_DATABASE_PASSWORD=change_me
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=homostay_app_production
DATABASE_USER=homostay_app
REDIS_URL=redis://redis:6379/0
